<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 
    分页模块

    @param  path       '/path/page/n' 中的 `/path` 需要保留 `/`
    @param  pageInfo   Halo类型UrlContextListResult<ListedPostVo>
    @param  isIndex    是否主页
 -->
<nav id="pagination" th:fragment="page(path,pageInfo,isIndex,_param=${null})">
    <ul class="pagination">
        <!-- previous page -->
        <li th:if="${pageInfo.hasPrev}">
            <a th:href="@{${path}(page=${pageInfo.page - 1}, ${_param} != null ? ${'_param'}=${_param} : '')}" rel="prev">« 上一页</a>
        </li>

        <!-- page numbers -->
        <li th:each="i : ${#numbers.sequence(1,pageInfo.totalPages)}"
            th:classappend="${i == pageInfo.page} ? 'active'">
            <a th:href="@{${path}(page=${i}, ${_param} != null ? ${'_param'}=${_param} : '')}"
               th:text="${i}"></a>
        </li>

        <!-- next page -->
        <li th:if="${pageInfo.hasNext}">
            <a th:href="@{${path}(page=${pageInfo.page + 1}, ${_param} != null ? ${'_param'}=${_param} : '')}"
               rel="next">下一页 »</a>
        </li>
    </ul>
</nav>

</html>
