<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="post-list"
          th:with='postItems=${posts.items},
          renderPath=${(category != null ? category.status.permalink : (tag != null ? tag.status.permalink : (isIndex ? "/" : "")) )},
          postRandomImg=${#strings.contains(theme.config.layout.postRandomImg,"?") ? theme.config.layout.postRandomImg+"&" : theme.config.layout.postRandomImg+"?"}'>

    <div class="recent-post-item"
         th:classappend="${theme.config.layout.post.cols} + ' ' + ${theme.config.layout.post.postLocation} + ' ' + (${iStat.even} ? 'even' : 'odd') + (${post.spec.pinned} ? 'pinned-post-item' : '')"
         th:each="post,iStat : ${postItems}">
        </div>

    <div th:replace="~{modules/widgets/page :: page(${renderPath},${posts},${isIndex ?: false})}"></div>

</th:block>
</html>