<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="post-list(pageInfo, path='/', isIndex=false)">
    <div class="recent-post-item"
         th:each="post,iStat : ${pageInfo.items}"
         th:classappend="${theme.config.layout.post.cols} + ' ' +
                         ${theme.config.layout.post.postLocation} + ' ' +
                         (${iStat.even} ? 'even' : 'odd') +
                         (${post.spec.pinned} ? 'pinned-post-item' : '')">

        <div class="post_cover left_radius">
            <a th:href="@{${post.status.permalink}}" th:attr="title=${post.spec.title}">
                <img th:with='img=${#strings.isEmpty(post.spec.cover) ? "/images/default.jpg"+post.spec.title : post.spec.cover}'
                     th:alt="${post.spec.title}"
                     th:data-lazy-src="${isLazyload ? img : ''}"
                     th:src="${isLazyload ? loadingImg : img}" class="post_bg">
            </a>
        </div>

        <div class="recent-post-info">
            <a class="article-title" th:href="@{${post.status.permalink}}" th:text="${post.spec.title}"></a>
            <div class="content" th:text="${post.status.excerpt}"></div>
        </div>
    </div>

    <!-- 分页 -->
    <div th:replace="modules/widgets/page :: page(${path}, ${pageInfo}, ${isIndex})"></div>
</th:block>

</html>