<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="post-list(pageInfo)">
    <div class="recent-posts">
        <div th:each="post : ${pageInfo.items}">
            <!-- 文章卡片 -->
            <div class="post-item">
                <a th:href="@{${post.status.permalink}}" th:text="${post.spec.title}"></a>
            </div>
        </div>
    </div>

    <!-- 分页 -->
    <div th:replace="modules/widgets/page :: page('/', ${pageInfo}, true)"></div>
</th:block>

</html>