<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{modules/layouts/layout :: layout(content = ~{::content}, htmlType = 'page', title = ${singlePage.spec.title + ' | ' + site.title}, head = ~{::head})}">
<th:block th:fragment="head">
    <th:block th:replace="~{modules/common/open-graph :: open-graph(_title = ${singlePage.spec.title},
                _permalink = ${singlePage.status.permalink},
                _cover = ${singlePage.spec.cover},
                _excerpt = ${singlePage.status.excerpt},
                _type = 'website')}"></th:block>
</th:block>
<th:block th:fragment="content">

    <div class="page" id="body-wrap">

        <!-- 头部导航栏 -->
        <header class="not-top-img" id="page-header">
            <nav th:replace="~{modules/nav :: nav(title = ${singlePage.spec.title})}"></nav>
        </header>

        <main class="layout" th:classappend="${not #lists.isEmpty(theme.config.sidebar.widgetss.pageWidget) ? '' : 'hide-aside'}" id="content-inner">
            <div id="page">

                <!-- ★ 新增文章同款外层容器，复用发光卡片样式 -->
                <article class="post heo-card" itemscope itemtype="http://schema.org/Article">
                    <!-- 如需显示页面标题，去掉下面这行注释 -->
                    <!-- <header class="post-header"><h1 class="post-title" th:text="${singlePage.spec.title}"></h1></header> -->

                    <div class="post-content markdown" id="article-container"
                         th:class="${ theme.config.code.enable_line || pluginFinder.available('PluginPrismJS') ? 'line-numbers' : ''}"
                         th:utext="${singlePage.content.content}"></div>
                </article>

                <hr>

                <!-- 评论组件 -->
                <th:block
                        th:replace="~{modules/comment :: comment(group = 'content.halo.run',
                  kind = 'SinglePage',
                  name = ${singlePage.metadata.name},
                  allowComment = ${singlePage.spec.allowComment})}"/>
            </div>

            <!-- 侧栏 -->
            <div th:replace="~{modules/aside :: aside(${theme.config.sidebar.widgetss.pageWidget})}"></div>

        </main>

        <!-- 底部 -->
        <footer th:replace="~{modules/footer}"/>
    </div>

</th:block>
</html>
